@import '../../assets/stylesheets/_variables';

.fullScreen {
    height: 100%;
}

button {
    outline: none;
    z-index: 100;
}

.user-button {
    position: absolute;
    right: 65px;
    top: 5px;
}

.nav {
    position: static;
}

.sidenav {
    position:fixed;
    background-color: $ex-secondary;
    color:#444444;
    width: 170px;
    height: 100%;
    left:-340px;
    -webkit-box-shadow: 10px 2px 97px 11px rgba(0,0,0,0.46);
    -moz-box-shadow: 10px 2px 97px 11px rgba(0,0,0,0.46);
    box-shadow: 10px 2px 97px 11px rgba(0,0,0,0.46);
    z-index: 100;
    .logo {
        width: 120px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 10px;
        display: block;
    }
    button {
        background-color: $ex-secondary;
        text-align: left;
        min-width:60px;
        display: block;
        line-height: 40px;
        font-size: 13px;
        width: 100%;
        border-radius: 0px;
        .fa {
            margin-right: 10px;
        }
        md-icon {
            margin-right: 10px;
        }
    }

    .logoutBtn {
        position: absolute;
        bottom:0px;
    }

    .userInfo {
        color: $dark-primary-color;
        md-icon {
            font-size: 30px;
            margin-left: 20px;
            
        }
        .userName {
            font-size: 10px;
            position: relative;
            top: -34px;
            left:51px;
            line-height: 12px;
            height: 0px;
            margin:0px;
            padding: 0px;
        }
    }
}



.toolbar {
    z-index: 10;
    height: 45px;
    line-height: 40px;
    background-color: $dark-primary-color;
    color: $text-primary-color;
    display: block;
    -webkit-box-shadow: -2px 7px 63px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: -2px 7px 63px 0px rgba(0,0,0,0.41);
    box-shadow: -2px 7px 63px 0px rgba(0,0,0,0.41);
    button {
        font-size: 5%;
    }
}

.contentContainer {
    height: -webkit-calc(100% - 45px);
    height:    -moz-calc(100% -45px);
    height:         calc(100% - 45px);
    overflow: auto;
}

.sideNavContainer {
    width: 100%;
    height:100%;
}
