<div class="login-container container-fluid h-100">
    <div class="row h-100 align-items-center">
        <div class="col-6 offset-3"> 
            <md-card>
                <form class="text-center" (submit)="login()">
                    <md-input placeholder="Användarnamn" class="w-100"
                        name="username" [(ngModel)]="loginRequest.username">
                    </md-input>
                    <md-input placeholder="Lösenord" type="password" class="w-100"
                        name="password" [(ngModel)]="loginRequest.password">
                    </md-input>
                    <div class="alert alert-danger mt-1 mb-3" *ngIf="loginError$ | async">
                        {{ loginError$ | async }}
                    </div>
                    <button md-button color="primary" type="submit" class="float-right">Logga in</button>
                    <div class="clearfix"></div>
                </form>
            </md-card>
        </div>
    </div>
</div>