<div class="ex-login" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="ex-login-bg"></div>
    <div fxFlex>
        <mat-card class="ex-login-card">
            <button mat-button class="local" (click)="authenticate()">
                <img src="../../../assets/images/logo_small.png" alt="Exsitec"> Logga in med e-postadress
            </button>
            <button mat-button class="google" (click)="authenticate('Google')">
                <img src="../../../assets/images/social/google.png" alt="Google"> Logga in med Google
            </button>
        </mat-card>
    </div>
    <img class="ex-login-logo" src="../../../assets/images/logo.png" alt>
</div>