$ex-primary:                    #CA005D;
$ex-primary-text:               white;

$ex-secondary:                  #3d3c3c;
$ex-secondary-text:             white;

$ex-spacing:                    20px;

// Bootstrap variables
$link-color:                    $ex-secondary;