$ex-primary:                    #CA005D;
$ex-primary-text:               white;

$ex-secondary:                  #3d3c3c;
$ex-secondary-text:             white;

$ex-grey:						#cccccc;
$ex-grey-dark:					#333333;
$ex-grey-light:					#eeeeee;

$ex-warning:					#D7520B;
$ex-danger:						#C73033;
$ex-info:						#0B85D7;

$ex-font-family:				'Lato';
$ex-font-color:					$ex-grey-dark;
$ex-spacing:					20px;

// Layout
$ex-menu-width: 				300px;
$ex-menu-background: 			$ex-grey-light;

$ex-navbar-height:				70px;