@import '../../../../assets/stylesheets/variables';

.ex-menu {
	background: $ex-menu-background;
	width: $ex-menu-width;
	height: 100%;
	box-shadow: inset -20px 0 20px -20px rgba(black, 0.2);

	.user {
		padding: 30px 10px;
		display: flex;

		mat-icon {
			font-size: 50px;
			width: 60px;
			height: 60px;
			line-height: 60px;
			text-align: center;
			color: $ex-primary;
		}

		.user-information {
			flex: 1;
			padding: 10px;

			.username {
				font-size: 1.2rem;
				font-weight: bold;
			}

			.actions {
				a {
					font-size: 0.8rem;
				}
			}
		}
	}

	.menu {
		a {
			display: block;

			mat-icon {
				margin-right: 20px;
			}

			&.active {
				font-weight: bold;
				
				mat-icon {
					color: $ex-primary;
				}
			}
		}
	}
}