 <section>
    <div class="column">
        <div class="btnContainer">
            <button md-button routerLink="/delprojektoversikt"><i class="fa fa-clipboard fa-lg" aria-hidden="true"></i>Projekt</button>
        </div>
         <div class="btnContainer">
            <button md-button  routerLink="/tidsregistering"><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i>Tidsregistering</button>
         </div>
        <div class="btnContainer">
            <button md-button routerLink="/attestering"><i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>Attestera</button>
        </div>
    </div>
 </section>