<div class="loginBkg">
    <div class="loginContainer">
        <form (submit)="login()">
            <md-input-container>
                <input mdInput placeholder="Användarnamn" name="username" [(ngModel)]="loginRequest.username">
            </md-input-container>
            <md-input-container>
                <input mdInput placeholder="Lösenord" type="password" name="password" [(ngModel)]="loginRequest.password">
            </md-input-container>
            <div class="alert alert-danger mt-1 mb-3" *ngIf="loginError$ | async">
                {{ loginError$ | async }}
            </div>
            <button md-button color="primary" type="submit">Logga in</button>
            <div class="clearfix"></div>
        </form>
    </div>
</div>